@use 'variables';

.footer{
    background-color: variables.$corDeFundo;
    opacity: 0.7;
    &__bloco{
        display: flex;
        justify-content: center;
        &__item{
            width: 250px;
            padding-top: 5vw;
            padding-bottom: 5vw;
        }
    }
}